.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: -310px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 90px;
  height: 80px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-info h3 {
  margin: 0;
  font-size: 20px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.notification-icons {
  display: flex;
  gap: 20px;
  position: relative;
}

.notification {
  position: relative;
  font-size: 30px;
  color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
